@import "tailwindcss";
@import 'cesium/Build/Cesium/Widgets/widgets.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.cesium-widget-credits {
  display: none !important;
}

.fullSize {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}
.cesium-animation-rectButton.highlight-animation
  .cesium-animation-buttonGlow {
  display: block;
  fill: #fff;
  /* keep the built-in blur and add extra glow layers */
  filter: url(#animation_blurred) drop-shadow(0 0 3px #aef)
    drop-shadow(0 0 3px #fff);
  animation: highlight-animation-button 1.2s ease-in-out infinite;
}
.cesium-animation-rectButton.highlight-animation
  .cesium-animation-buttonMain {
  stroke: #fff;
  stroke-width: 3;
}
.cesium-animation-rectButton.highlight-animation
  .cesium-animation-buttonPath {
  fill: #fff;
}

.cesium-animation-shuttleRingG.highlight-animation
  .cesium-animation-shuttleRingBack {
  stroke: #fff;
  stroke-width: 6;
  filter: drop-shadow(0 0 3px #aef)
    drop-shadow(0 0 3px rgba(174, 238, 255, 0.95));
  animation: highlight-animation-ring 1.2s ease-in-out infinite;
}
.cesium-animation-shuttleRingG.highlight-animation
  .cesium-animation-shuttleRingSwoosh
  line {
  stroke: #fff;
  stroke-opacity: 0.8;
}

@keyframes highlight-animation-button {
  0% {
    opacity: 0.3;
    stroke-width: 0;
  }
  50% {
    opacity: 1;
    stroke-width: 4;
  }
  100% {
    opacity: 0.3;
    stroke-width: 0;
  }
}
@keyframes highlight-animation-ring {
  0% {
    stroke-opacity: 0.25;
    stroke: #333;
  }
  50% {
    stroke-opacity: 1;
    stroke: #fff;
  }
  100% {
    stroke-opacity: 0.25;
    stroke: #333;
  }
}

